PORT=8000
DB_URL=mongodb+srv://example_db_username:example_db_password@cluster0.oggyj.mongodb.net/example-db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET
JWT_ACCESS_EXPIRES
JWT_REFRESH_SECRET
JWT_REFRESH_EXPIRES

# BCRYPT
BCRYPT_SALT_ROUND

# SUPER ADMIN
SUPER_ADMIN_EMAIL
SUPER_ADMIN_PASSWORD

# GOOGLE
GOOGLE_CLIENT_SECRET
GOOGLE_CLIENT_ID
GOOGLE_CALLBACK_URL

# EXPRESS SESSION
EXPRESS_SESSION_SECRET

# FRONTEND URL
FRONTEND_URL